.blog {
  article {
    max-width: 720px;
    margin: 40px auto;
    
    img {
      margin: 20px 0;
      max-width: 100%;
    }
  }
  
  .post {
    font-size: 1.1em;
    line-height: 1.9;
  }
  
  .article__details {
    text-align: center;
  }
  
  .article__avatar img {
    border-radius: 50%;
  }
  
  .article__details h1 a {
    color: #000;
    text-decoration: none;
  }
  
  .article__meta {
    color: #999;
  }
}