@charset "utf-8";

@import "susy";
@import "breakpoint";
@import "vendor/normalize";
@import "vendor/syntax";

@import "abstracts/colors";
@import "abstracts/grid";

@import "base/forms";

@import "layout/sidebar";

@import "pages/blog";
@import "pages/demo";
@import "pages/support";

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-size: 1.7rem;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #EFEFEF;
  
  &.index {
    background: linear-gradient(darken(#3EB049, 14%), #3EB049);
  }
}

header {
  position: fixed;
  width: 100%;
  height: 69px;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
  /*border-bottom: 1px solid #F5F5F5;*/
  box-shadow: 0 1px 3px rgba(0,0,0,.12);
}

.logo {
  float: left;
  padding: 16px 20px;
}

.logo span {
  position: absolute;
  top: 10px;
  left: 158px;
  margin-top: 13px;
  font-size: 18px;
  font-weight: 300;
  color: #999;
}

.logo .short {
  display: none;
}

.menu--main {
  float: left;
  margin: 0 0 0 110px;
  padding: 0 0 0 10px;
  border-left: 1px solid #f7f7f7;
}

.menu--actions {
  float: right;
  margin: 0 20px 0 0;
}

.menu nav ul {
  margin: 20px 0 19px;
  padding-left: 0;
}

.menu--actions nav ul {
  margin: 17px 0;
}

.menu--actions .navbar-responsive {
  display: none;
}

.menu nav li {
  display: inline-block;
  padding: 0 10px 0 0;
  list-style: none;
}

.menu nav li ul {
  display: none;
}

.menu nav li:last-child {
  padding-right: 0;
}

.menu nav li a {
  display: block;
  font-size: 15px;
  padding: 6px 15px;
  color: #333;
  text-decoration: none;

  &.btn {
    font-size: 14px;
    padding: 7px 15px;
  }
}

.menu nav li .active {
  color: #3FAE2A;
}

.menu nav li a:hover {
  color: #3FAE2A;
}

.btn {
  display: inline-block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-size: 14px;
  padding: 7px 15px;
  color: #333;
  text-decoration: none;
  line-height: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  
  &:hover {
    color: #3FAE2A;
    border-color: #3FAE2A;
  }
}

.btn.cta {
  color: #fff;
  background: linear-gradient(#f39c12, darken(#f39c12, 3%));
  border: 1px solid #CE8512;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  
  &:hover {
    color: #fff;
    background: linear-gradient(#f5ac39, #ea940c);
  }
}

.menu nav li .cta:hover {
  color: #fff;
}

.text-center {
  text-align: center;
}

#nav-button {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 1.9em 2em;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  line-height: 16px;
}

.wrapper {
  position: relative;
  padding-top: 69px;
  height: 100%;
}

.page {
  max-width: 720px;
  margin: 0 auto;
  padding: 40px;
  height: 100%;
  
  &.vertical-center {
    align-items: center;
    display: flex;
  }
}

.content {
  position: relative;
  width: 100%;
  z-index: 3;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero {
  padding: 8% 0 50px;
  text-align: center;
}

.hero__icon {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto 20px;
  background: transparent;
  border-radius: 50%;
}

.hero__icon.active {
  transition: all 80ms ease-out;
}

.active .hero__icon.active {
  background: #fff;
}

.hero__icon svg {
  width: 60px;
  margin-top: 20px;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.active .hero__icon svg {
  animation: shake 300ms 100ms;
  transition: all 320ms ease-out;
}

.hero__icon svg path {
  stroke: #fff;
  stroke-width: 2px;
  transition: fill 250ms ease-in-out;
}

.active .hero__icon svg path {
  stroke: #fff;
  stroke-width: 0;
  fill: #3FAE2A;
}

.hero h1 {
  font-size: 50px;
  color: #fff;
  margin: 0 0 10px;
  padding: 0;
  opacity: 0;
  text-shadow: 0 1px 2px rgba(0,0,0,.12);
  transform: translateY(10px);
}

.hero.active h1 {
  opacity: 1;
  transform: translateY(0);
  transition: all 320ms 250ms ease-in-out;
}

.hero h2 {
  font-size: 20px;
  font-weight: normal;
  color: #a6e0ac;
  margin: 0;
  padding: 0;
  opacity: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.12);
  transform: translateY(10px);
}

.hero.active h2 {
  opacity: 1;
  transform: translateY(0);
  transition: all 320ms 700ms ease-in-out;
}

.home__toc {
  max-width: 520px;
  margin: 0 auto;
  opacity: 0;
}

.active + .home__toc {
  opacity: 1;
  transition: all 320ms 1.2s ease-in-out;
}

.home__toc__item {
  position: relative;
  background: linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.5));
  margin: 0 0 4px;
  border-radius: 5px;
  border: 1px solid darken(#3EB049, 28%);
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  transition: background 250ms ease-out;
}

.home__toc__item:hover {
  background: linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.6));
}

.home__toc__item a {
  display: block;
  padding: 20px 60px 20px 100px;
}

.home__toc__item:after {
  position: absolute;
  display: block;
  content: " ";
  width: 30px;
  height: 40px;
  top: 50%;
  right: 30px;
  margin-top: -20px;
  background: url('/images/chevron-right.svg') top right no-repeat;
  background-size: 20px;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 120ms ease-in-out;
}

.home__toc__item:hover:after {
  transform: translateX(0);
  opacity: 1;
}

.home__toc__item a {
  color: #fff;
  text-decoration: none;
}

.home__toc__item h3 {
  margin: 0 0 8px;
}

.home__toc__item p {
  color: #f2f2f2;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.home__toc__icon {
  position: absolute;
  top: 32px;
  left: 30px;
  opacity: 0.8;
  transition: all 120ms ease-in-out;
}

.home__toc__item:hover .home__toc__icon {
  opacity: 1;
}

footer {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px 20px;
  font-size: 12px;
  color: rgba(255,255,255,.8);
}

@media (max-width: 1250px) {
  .logo .long {
    display: none;
  }
  
  .logo .short {
    display: block;
  }
  
  .menu--main {
    margin-left: 55px;  
  }
}

@media (max-width: 1180px) {
  .menu--main {
    display: none;
  }
  
  .menu--actions ul {
    display: none;
  }
  
  .menu--actions .navbar-responsive {
    display: block;
  }

  .content {
    padding: 0 20px;
  }
}

@media (max-width: 1348px) {
  .menu--main li a span {
    display: none;
  }
}