<div class="sidebar__cta">
  <a href="https://app.taxjar.com/api_sign_up/" class="btn cta trial-link">Get API Token</a>
  <a href="https://app.taxjar.com" class="btn"><b>Log In</b></a>
</div><br>

<div class="sidebar__nav">
  <ul>
    <li>
      <input id="docsearch-mobile" placeholder="Search the docs...">
      <span>TaxJar API</span>
      <ul>
        <li><a href="https://www.taxjar.com/pricing/">Pricing</a></li>
        <li><a href="/demo/">API Demo</a></li>
        <li><a href="/api/">API Reference</a></li>
        <li><a href="/api/guides/">API Guides</a></li>
        <li><a href="/integrations/">Integrations</a></li>
        <li><a href="https://status.taxjar.com">API Status</a></li>
      </ul>
    </li>
    <li>
      <span>Resources</span>
      <ul>
        <li><a href="/blog/">Developer Blog</a></li>
      </ul>
    </li>
    <li>
      <span>Company</span>
      <ul>
        <li><a href="https://www.taxjar.com/about/">About</a></li>
        <li><a href="https://www.taxjar.com/reviews/">Customers</a></li>
        <li><a href="https://www.taxjar.com/jobs/">Jobs</a></li>
      </ul>
    </li>
    <li>
      <span>Contact</span>
      <ul>
        <li><a href="https://www.taxjar.com/request-demo/">Request a Demo</a></li>
        <li><a href="https://www.taxjar.com/contact/">Contact Us</a></li>
        <li><a href="https://support.taxjar.com/">Support &amp; Help</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="sidebar__divider"></div>

<div class="sidebar__footer">
  <span id="copyright">&copy; <%= Date.today.year %> TaxJar. TaxJar is a trademark of TPS Unlimited, Inc. <a href="https://www.taxjar.com/privacy-policy/" class="footer-text grey">Privacy Policy</a> &amp; <a href="https://www.taxjar.com/terms-of-service/" class="footer-text grey">Terms of Service</a></span>
</div>
