.index .wrapper {
  overflow: hidden;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 40px auto;
}

.grid__item {
  position: relative;
  flex: 1;
  -webkit-flex: 1 1 400px;
  min-width: 400px;
  min-height: 300px;
  margin: 0 20px 20px 0;
  background: #fff;
  // box-shadow: 0 2px 4px rgba(0,0,0,.12);
  border-radius: 3px;
  opacity: 0;
  transform-origin: 50%;
  transition: all 320ms cubic-bezier(.55, 0, .1, 1);

  &:nth-child(1) {
    // transform-origin: 100% 100%;
    transition-delay: 100ms;
    transform: scale(1.4) translate(-100px, -100px);
  }

  &:nth-child(2) {
    // transform-origin: 0 100%;
    transition-delay: 200ms;
    transform: scale(1.4) translate(100px, -100px);
  }

  &:nth-child(3) {
    // transform-origin: 100% 0;
    transition-delay: 300ms;
    transform: scale(1.4) translate(-100px, 100px);
  }

  &:nth-child(4) {
    // transform-origin: 0 0;
    transition-delay: 400ms;
    transform: scale(1.4) translate(100px, 100px);
  }

  &.active {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
}

.grid__item.hero {
  padding: 20px;
  border-radius: 3px;
  background: linear-gradient(darken(#3EB049, 14%), #3EB049);
}

.grid__list {
  font-size: 15px;
  margin: 20px;

  .grid__list__item {
    width: 100%;
    color: #333;
    text-decoration: none;

    span {
      color: #3FAE2A;
      font-weight: bold;
    }
  }
}
