.wrap, .wrap__content {
  height: 100%;
}

.wrap__sidebar {
  position: fixed;
  top: 0;
  right: -240px;
  background: #fff;
  z-index: 9999;
  width: 240px;
  min-height: 100%;
  height: 100%;
  padding: 16px 20px;
  transition: right 300ms cubic-bezier(0.55, 0, 0.1, 1);
  box-sizing: border-box;
}

.wrap__content {
  transition: transform 300ms cubic-bezier(0.55, 0, 0.1, 1);
}

.navbar-default .navbar-toggle {
  margin-top: 16px;
  padding: 6px 12px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: transparent;
}

.sidebar__cta .btn {
  display: block;
  margin: 0 0 6px;
  text-align: center;

  + p {
    margin: 10px 0 0 0;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
}

.sidebar__nav {
  ul {
    margin: 0;
    padding: 0;

    li {
      font-size: 15px;
      line-height: 26px;
      list-style: none;

      span:not([class]) {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-size: 12px;
        color: #999;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      a {
        color: #666;
        text-decoration: none;

        &:hover {
          color: #22C855;
          text-decoration: none;
        }
      }
    }
  }

  > ul > li {
    margin-bottom: 20px;
  }
}

.sidebar__footer {
  #copyright {
    font-size: 12px;
    line-height: 17px;
    color: #777;
  }

  a {
    color: #22C855;
    text-decoration: none;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}

@media (max-width: 1140px) {
  .wrap__sidebar {
    .collapsed & {
      position: absolute;
      right: 0;
      box-shadow: -2px 0 6px rgba(0,0,0,.2);
    }
  }

  .wrap__content {
    .collapsed & {
      position: fixed;
      width: 100%;
      overflow: hidden;
      cursor: pointer;
      transform: translate(-240px, 0);
      z-index: 9999;
    }
  }
}
