<% set_meta_tags description: "Sales tax API for developers. Open source clients, API docs, guides, and more!" %>

<div class="content">
  <div class="hero">
    <div class="hero__icon">
      <%= partial "partials/logo-icon" %>
    </div>
    <h1>Sales Tax for Developers</h1>
    <h2>The most powerful API ever for sales tax calculation and reporting.</h2>
  </div>

  <div class="home__toc">
    <div class="home__toc__item">
      <a href="/api">
        <img class="home__toc__icon" src="/images/icons/docs.svg" width="40">
        <h3>Sales Tax API v2 Reference</h3>
        <p>Comprehensive documentation to our REST API endpoints with more than 150 examples across 7 languages.</p>
      </a>
    </div>
  </div>
</div>

<div id="particles-js"></div>
