.post {
  position: relative;
  line-height: 1.8;
  background: #fff;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 40px 20px;
  
  @include respond-to('sm') {
    margin: 6rem auto;
    padding: 0 170px 80px;
    border-radius: 3px;
  }
}

.post--preview {
  border: 1px solid #ccc;
  border-top: 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  
  @include respond-to('sm') {
    margin: 0 0 6rem;
    padding: 0 40px 40px;
  }
}

.post__banner {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px;
  background: #3FAE2A;
  background-image: url(http://blog.taxjar.com/wp-content/themes/canvas/images/logo-float.svg);
  background-position: 50% 50%;
  text-align: center;
  
  @include respond-to('sm') {
    border-radius: 3px 3px 0 0;
  }
  
  .post--preview & {
    height: 60px;
  }
}

.post__avatar {
  position: absolute;
  left: calc(50% - 30px);
  bottom: -40px;
}

.post__avatar img {
  margin: 0;
  border: 3px solid #fff;
  border-radius: 50%;
}

.post__details {
  max-width: 600px;
  text-align: center;
  padding-top: 140px;
  margin: 0 auto 40px;
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.2em;
    padding: 0;
    line-height: 1.5;

    a {
      color: #000;
      text-decoration: none;  
    }
  }
  
  .post--preview & {
    padding-top: 100px;
    
    h3 {
      font-size: 1.5em;
    }
  }
}

.post__category {
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.post__meta {
  color: #999;
  font-size: 13px;
  
  b {
    font-size: 8px;
    color: #D8D8D8;
    padding: 0 5px;
    vertical-align: 1px;
  }
}

.post__entry,
.post__summary {
  &:before {
    content: "";
    display: block;
    width: 72px;
    height: 1px;
    margin: 0 auto 40px;
    background: rgba(151,151,151,.2);
  }
  
  a {
    color: $c_green;
    border-bottom: 1px dotted $c_green;
    text-decoration: none;
    
    &:hover {
      color: #000;
      border-bottom: 1px solid #000;
    }
  }
  
  h2 {
    margin-top: 40px;
    line-height: 1.6;
  }
  
  img {
    margin: 20px 0;
    max-width: 100%;
    border-radius: 3px;
  }
  
  code, pre {
    font-family: "Source Code Pro";
  }
  
  p > code,
  li > code {
    font-size: .9375em;
    font-weight: bold;
    color: #000;
    padding: 0 3px;
    background: #fafafb;
    border: 1px solid #f3f3f3;
    border-radius: 3px;
  }
  
  .highlight {
    font-size: .9em;
    margin: 20px 0;
    background: #fafafb;
    border: 1px solid #f3f3f3;
  }
  
  blockquote {
    border-left: 3px solid #EAEAEA;
    margin-left: 20px;
    padding-left: 20px;
  }
}

.post__more a {
  display: block;
  color: $c_green;
  text-align: center;
  text-decoration: none;  
  font-weight: bold;
  background: #F9F9F9;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  transition: color 120ms ease-out;
  
  &:hover {
    color: #fff;
    background: #3FAE2A;
  }
}

#disqus_thread {
  max-width: 780px;
  margin: 0 auto;
  padding: 20px;
  
  a {
    color: $c_green;
  }

  @include respond-to('sm') {
    padding: 0 0 40px;
  }
}